<div class="flex flex-col items-center justify-center cur-box">
  <form [formGroup]="form" class="flex flex-col items-center mony-convert">
    <div class="relative flex from-amount">
      <div>
        <p class="absolute text-xl text-white p">Amount</p>
        <input
         (input)="reset()"
          formControlName="amountFrom"
          type="number"
          min="0"
          class="pl-4 pr-4 bg-black border-none outline-none fst-amount w-h"
          
        />
      </div>
      <div class="relative flex items-center">
        <p class="absolute text-xl text-white p">From</p>
        <!-- <div class="bg-gray-600 from"></div> -->
        <div [formGroup]="form">
          <mat-form-field class="w-h-c">
            <mat-select formControlName="currencyFrom">
              <mat-select-trigger>
                <span class="flex items-center">
                  <img
                    class="mr-2 w-7"
                    src="{{ form.get('currencyFrom').value?.flagUrl }}"
                  />
                  <span>{{ form.get("currencyFrom")?.value?.code }}</span>
                </span>
              </mat-select-trigger>
              <mat-option [value]="c" *ngFor="let c of currencesList">
                <div class="flex flex-row">
                  <img class="mr-2 w-7" src="{{ c.flagUrl }}" alt="" />
                  {{ c.code }}
                </div></mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="relative flex to-amount">
      <div class="relative flex flex-col items-center">
        <p class="target-absolute">Targeted currency</p>
        <div [formGroup]="form">
          <mat-form-field class="w-h-c">
            <mat-select formControlName="currencyTo1">
              <mat-select-trigger>
                <span class="flex items-center">
                  <img
                    class="mr-2 w-7"
                    src="{{ form.get('currencyTo1').value?.flagUrl }}"
                  />
                  <span>{{ form.get("currencyTo1")?.value?.code }}</span>
                </span>
              </mat-select-trigger>
              <mat-option [value]="c" *ngFor="let c of currencesList">
                <div class="flex flex-row">
                  <img class="mr-2 w-7" src="{{ c.flagUrl }}" alt="" />
                  {{ c.code }}
                </div></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <input [disabled]="true" type="number" class="input w-h" formControlName="amountTo1"/>
      </div>
      <div class="relative flex flex-col items-center targeted-currency">
        <p class="target-absolute">Targeted currency</p>
        <div [formGroup]="form">
          <mat-form-field class="w-h-c">
            <mat-select formControlName="currencyTo2">
              <mat-select-trigger>
                <span class="flex items-center">
                  <img
                    class="mr-2 w-7"
                    src="{{ form.get('currencyTo2').value?.flagUrl }}"
                  />
                  <span>{{ form.get("currencyTo2")?.value?.code }}</span>
                </span>
              </mat-select-trigger>
              <mat-option [value]="c" *ngFor="let c of currencesList">
                <div class="flex flex-row">
                  <img class="mr-2 w-7" src="{{ c.flagUrl }}" alt="" />
                  {{ c.code }}
                </div></mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <input [disabled]="true" type="number" class="input w-h" formControlName="amountTo2"/>
      </div>
    </div>
    <button (click)="submit()" type="submit" value="submit" class="btn">
      Compare
    </button>
  </form>
</div>

<!-- <div [formGroup]="form">
  <mat-form-field class="bg-black">
    <mat-select formControlName="currencyTo1" [(value)]="selectedValue">
      <mat-select-trigger>
        <span class="flex items-center">
          <img class="w-4" src="{{ selectedValue?.flagUrl }}" />
          <span>{{ selectedValue?.code }}</span>
        </span>
      </mat-select-trigger>
      <mat-option [value]="c" *ngFor="let c of currencesList">
        <div class="flex flex-row">
          <img class="mr-2 w-7" src="{{ c.flagUrl }}" alt="" />
          {{ c.code }}
        </div></mat-option
      >
    </mat-select>
  </mat-form-field>
</div> -->
