<!-- <div class="flex flex-col items-center justify-center cur-box">
  <form [formGroup]="form" class="mony-convert">
    <div class="relative flex items-center justify-center from-amount">
      <div>
        <p class="absolute text-xl text-white">Amount</p>
        <input
        (input)="reset()"
          formControlName="amountFrom"
          type="number"
          min="0"

          class="pl-4 pr-4 bg-black border-none outline-none fst-amount"

        />
      </div>
      <div class="relative flex items-center">
        <p class="absolute text-xl text-white">From</p>
        <div [formGroup]="form">
          <mat-form-field class="form w-h-c">
            <mat-select formControlName="currencyTo" class="flex items-center">
              <mat-select-trigger>
                <span class="flex items-center">
                  <img
                    class="w-8 h-8 mr-2"
                    src="{{ form.get('currencyTo').value?.flagUrl }}"
                  />
                  <span>{{ form.get("currencyTo")?.value?.code }}</span>
                </span>
              </mat-select-trigger>
              <mat-option [value]="c" *ngFor="let c of currencesList">
                <div class="flex flex-row items-center">
                  <img class="w-8 h-8 mr-2" src="{{ c.flagUrl }}" alt="" />
                  {{ c.code }}
                </div></mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="relative flex items-center justify-center to-amount">
      <div>
        <p class="absolute">To</p>
        <div class="bg-red-600 to"></div>
        <div [formGroup]="form">
          <mat-form-field class="form w-h-c">
            <mat-select formControlName="currencyFrom">
              <mat-select-trigger>
                <span class="flex items-center">
                  <img
                    class="mr-2 w-7"
                    src="{{ form.get('currencyFrom').value?.flagUrl }}"
                  />
                  <span>{{ form.get("currencyFrom")?.value?.code }}</span>
                </span>
              </mat-select-trigger>
              <mat-option [value]="c" *ngFor="let c of currencesList">
                <div class="flex flex-row">
                  <img class="mr-2 w-7" src="{{ c.flagUrl }}" alt="" />
                  {{ c.code }}
                </div></mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <p class="absolute">Amount</p>
        <input
          formControlName="amountTo"

          type="text"
          class="border-none outline-none snd-amount"

        />
      </div>
    </div>
    <button (click)="submit()" type="submit" class="btn">Convert</button>
  </form>
</div> -->

<div class="flex flex-col items-center justify-center cur-box">
  <form [formGroup]="form" class="mony-convert">
    <div class="relative flex items-center justify-center from-amount">
      <div>
        <p class="absolute text-xl text-white">Amount</p>
        <input
          (input)="reset()"
          formControlName="amountFrom"
          type="number"
          min="0"
          class="pl-4 pr-4 bg-black border-none outline-none fst-amount"
        />
      </div>
      <div class="relative flex items-center">
        <p class="absolute text-xl text-white">From</p>
        <div [formGroup]="form">
          <mat-form-field class="form w-h-c">
            <mat-select formControlName="currencyFrom">
              <mat-select-trigger>
                <span class="flex items-center">
                  <img
                    class="mr-2 w-7"
                    src="{{ form.get('currencyFrom').value?.flagUrl }}"
                  />
                  <span>{{ form.get("currencyFrom")?.value?.code }}</span>
                </span>
              </mat-select-trigger>
              <mat-option [value]="c" *ngFor="let c of currencesList">
                <div class="flex flex-row">
                  <img class="mr-2 w-7" src="{{ c.flagUrl }}" alt="" />
                  {{ c.code }}
                </div></mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="relative flex items-center justify-center to-amount">
      <div>
        <p class="absolute">To</p>
        <div [formGroup]="form">
          <mat-form-field class="form w-h-c">
            <mat-select formControlName="currencyTo" class="flex items-center">
              <mat-select-trigger>
                <span class="flex items-center">
                  <img
                    class="w-8 h-8 mr-2"
                    src="{{ form.get('currencyTo').value?.flagUrl }}"
                  />
                  <span>{{ form.get("currencyTo")?.value?.code }}</span>
                </span>
              </mat-select-trigger>
              <mat-option [value]="c" *ngFor="let c of currencesList">
                <div class="flex flex-row items-center">
                  <img class="w-8 h-8 mr-2" src="{{ c.flagUrl }}" alt="" />
                  {{ c.code }}
                </div></mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <p class="absolute">Amount</p>
        <input
          formControlName="amountTo"
          type="text"
          class="border-none outline-none pl-4 pr-4 snd-amount"
        />
      </div>
    </div>
    <button (click)="submit()" type="submit" class="btn">Convert</button>
  </form>
</div>



