:host {
  @apply block;
}

.mony-convert {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.from-amount {
  gap: 17.62px;
  margin-top: 101px;
}
.fst-amount {
  width: 182px;
  height: 64px;
  border-radius: 35.238px;
  border: 0.881px solid #c5c5c5;
  // background: #f9f9f9;
  background: #e3e3e3;
  position: relative;
}

p {
  bottom: 80px;
  color: #fff;
  font-family: Montserrat;
  font-size: 24.667px;
  font-style: normal;
  // font-weight: 600;F
  line-height: normal;
}
// .fst-amount {
//   width: 213px;
//   height: 84px;
//   border-radius: 35.238px;
//   border: 0.881px solid #c5c5c5;
//   // background: #f9f9f9;
//   background: #e3e3e3;
//   position: relative;
// }

.from {
  width: 324px;
  height: 64px;
  border-radius: 35px;
}

.to-amount {
  gap: 17.62px;
  margin-top: 88px;
}

.to {
  width: 324px;
  height: 84px;
  border-radius: 35px;
}

.snd-amount {
  width: 182px;
  height: 64px;
  border-radius: 35px;
  background-color: #f9f9f9;
}

.btn {
  width: 460px;
  height: 70px;
  margin-top: 65px;
  border-radius: 35px;
  background: #0e98d0;
  color: #fff;
  // font-family: Montserrat;
  font-size: 28.19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
h1 {
  // bottom: 500px;
  z-index: 10;
  color: blue;
  left: 221px;
  top: 10px;
  color: #fff;
  font-family: Montserrat;
}

.main {
  background-color: blue;
  border-radius: 35px;
}

// .spinner {
//   -webkit-text-stroke-color: #ff5722; /* Your custom color */
// }

.mat-mdc-form-field {
  width: 277px;
}

@media (max-width: 767px) {
  .fst-amount,
  .snd-amount {
    width: 121px;
    height: 48px;
    background: #ececec;
    border: none;
    outline: none;
  }
  p {
    color: black;
    font-size: 20px;
    top: -40px;
  }
  .w-h-c {
    width: 152px;
    height: 48px;
  }
  .btn {
    width: 315px;
    height: 48px;
  }
  // .mat-mdc-form-field[_ngcontent-ng-c2705259155],
  // .from {
  //   width: 184px;
  //   height: 48px;
  // }
}
