<!-- <h1 class="text-3xl font-bold underline">Hello world!</h1>

<mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

<!-- <app-ui></app-ui> -->
<!-- <app-ui-compare></app-ui-compare> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-not-found></app-not-found> -->
<!-- <h1>Hello</h1> -->

<!-- <div> -->
<!-- <h1>My Angular App</h1> -->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise-fade">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<router-outlet></router-outlet>
<!-- </div> -->
