.portfolio-list {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  li {
    &:last-child {
      @apply border-0;
    }
  }
}

@media (max-width: 767px) {
  .portfolio-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .fav-btn {
    padding: 20px;
  }
  section {
    padding: 10px;
  }
}
